body{
    background: linear-gradient(gray, black);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    color: yellowgreen;
}
.input{
    text-align: center;
    border-radius: 5px;
    border-color: #FFFFFF;
}
form{
    text-align: center;
    border-image: linear-gradient(#80B3FF , #FFFFFF) 4;
    border-width: 4px;
    border-style: solid;
    border-radius: 5px;
    width: 50%;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    margin-bottom: 10%;
}
#homeH1{
    margin-left: 5em;
}
#mySubmit{
    margin-top: 30px;
    font-size: large;
    background-color: #687EFF;
    border-style: groove;
    border-color: #FFFFFF;
    border-radius: 5px;
    color: white;
}
#mySubmit:hover{
    color: aqua;
    border-color: aqua;
}
#mySubmit:active{
    color: yellow;
    border-color: yellow;
}
#options{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#options::before, #options::after{
    background: #80B3FF;
    height: 1px;
    flex: 1;
    content: '';
}
#options span{
    margin-left: 5px;
    margin-right: 1px;
}
#error{
    color: tomato;
}