body{
    background: linear-gradient(#C5FFF8,#96EFFF);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
.input{
    text-align: center;
}
#myDiv{
    text-align: center;
    padding-top: 10em;
}
#homeH1{
    margin-left: 5em;
}